#main-header img {
    width:100%;
    height:100%;
}

#main-header .cv-item{
    width: 30%;
}

#main-header .cv-item:hover{
    opacity: 0.8;
    cursor: pointer;
}

.bg-black{
    color: #fff;
    background:#000; 
}

@media(min-width:1199px){
    .cv-item{
        
        height: 10em;
    }
}